{% extends "base.html" %}
{% block content %}

<style>
.page-box{
    background:#111;padding:30px;border-radius:15px;margin-top:25px;
    border:1px solid #333;box-shadow:0 0 25px rgba(212,175,55,.3);
}
.blog-img-large{
    width:100%;border-radius:12px;border:1px solid #444;margin-bottom:20px;
}
.tag{
    padding:7px 14px;background:#18d596;color:black;border-radius:6px;
    font-weight:600;margin-right:6px;
}
</style>

<div class="page-box" data-aos="fade-up">

    <h1 style="color:#d4af37;font-weight:800">{{ post.title }}</h1>
    <p style="color:#aaa;">{{ post.date }}</p>

    {% if post.image %}
    <img src="/static/uploads/{{ post.image }}" class="blog-img-large">
    {% endif %}

    <p style="font-size:18px;margin-top:15px;line-height:27px;">
        {{ post.content }}
    </p>

    <a href="/blogs" class="btn btn-outline-light mt-4">⬅ Back to blogs</a>
</div>

{% endblock %}
